 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Conference</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <body>
    <div class="bg">
        <img src="{%static 'images/bg7.jpg'%}"  style="width: 1500px; height: 870px;" alt="">
    </div>
    
        <div class="intro">
            <h1>WELCOME!</h1>
           
            <a href="{% url 'login' %}" class="button">Sign In</a>
            <a href="{% url 'register' %}" class="button">Sign Up</a>
        </div>
   